# Build
build/
out/
cmake-build-*/

# IDE
.vscode/
.idea/
*.user
*.suo

# Compiled
*.o
*.obj
*.lib
*.dll
*.exe
*.pdb

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db
*.log
